<html>
    <head>
        <link rel="stylesheet" href='../static/Skeleton-2.0.4/css/normalize.css'/>
        <link rel="stylesheet" href='../static/Skeleton-2.0.4/css/skeleton.css' />
      </head>
    <body>
        <div class="container">
        sss
        <h1></h1>saasdfa</h1>
        <div class="row">
            <div class="six columns">
                    Stanga
            </div>
            <div class="six columns">
                    Dreapta
            </div>
        </div>
        <button class="button-primary">Click me</button>
    </div>
    </body>
</html>