<html>
    <head>
    <link rel="stylesheet" href='static/Skeleton-2.0.4/css/normalize.css' />
    <link rel="stylesheet" href='static/Skeleton-2.0.4/css/skeleton.css' />
      </head>
    <style>
        html {
            margin-top: 48px;
        }
    </style>
    <body>
        <div class="container">
            
            <div class="row" style="background: lightgray; ">
                <div class="six columns" style="background: darkgray; ">
                    Just a header
                </div>
                <div class="six columns" style="background: lightseagreen; ">
                    Another a header
                </div>
            </div>
            <div class="row" style="background: lightgray; ">
                <div class="four columns" style="background: darkgray; ">
                    Just a header
                </div>
                <div class="four columns" style="background: lightseagreen; ">
                    Another a header
                </div>
                <div class="four columns" style="background: lightpink; ">
                    Third a header
                </div>
            </div>
            <br>            <br>
            <div class="row">
                <div class="eight columns" >
                    Wellcome to this Page
                </div>
                <div class="four columns" >
                    Made by Sigmuletz
                </div>
            </div>
            <title>Test Page HTML</title>
            <h2 style="align-content: center;">Index.HTML</h2>
            <form action = "http://localhost:5000/search" method = "POST">
                <div class="row" >
                    <div class="four columns"">
                        Song name to search:
                    </div>
                    <div class="four columns" >
                        <input type = "text" name = "song_name" />
                    </div>
                    <div class="four columns" >
                        <input class="button-primary" type = "submit" value = "submit" />
                    </div>
                </div>
            </form>
            <button>Test Button</button>
            <br>            <br>
            <div class="row">
                <div class="seve column">
                    <h5>headding test</h5>
                    <p>
                        <strong>bold</strong>
                    </p>
                    <p>
                        <u>undeline</u>
                    </p>
                    <p>
                        <em>italic</em>
                    </p>
                    <p></p>
                        <a href="a">bold</a>
                    </p>
                </div>
            </div>

      </div>
    </body>
</html>